@font-face {
  font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
  src: url(./font/Franklin\ Gothic\ Heavy\ Regular.ttf)
}

* {
  font-family: "Franklin Gothic Heavy", sans-serif;
  scroll-behavior: smooth;
  font-weight: 600;
}
